body{
    background-color: #FAF2E4;
}
img{
    display: block;
    margin: 0 auto;
    width: 200px;
    height: 200px;
}
h1{
    font-family: Times New Roman;
    border: solid 3px #61B5DC;
    border-top: none;
    border-left: none;
    border-right: none;
    text-align: center;
}
.red{
    color: #ff6100;
    font-weight: bold;
}
p, a{
    font-family: Arial;
}
